#pagination {
	width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
	#pagination li {
		cursor: pointer;
		display: flex;
    	align-items: flex-start;
		padding: 10px;
	}
	#pagination li.active {
		color: red;
	}